.title{
    font-size: 35px;
    color: white;
    font-weight: 700;
}
.description {
    display: block;
    width: 500px;
    height: 90px;;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
}
.genres {
    display: block;
    height: 30px;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
}
.post-date {
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	padding: 3px 16px;
	margin-bottom: 25px;
	background: #10ddb4;
}
img {
    max-width: 1200px;
    max-height: 1000px;
}
.site-btn-right {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 164px;
	padding: 21px 47px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #dd1010;
	color: black;
	line-height: 1;
	cursor: pointer;
	text-align: center;
    margin-left: 60%;
}
.paddingClass{
    padding-bottom: 20px;
}