 <div id="login-box">
  <form id="loginForm" (ngSubmit)="handleFormSubmit(loginForm.value)" #loginForm="ngForm">
    <h2>Create a new account.</h2>
    <hr />
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="username" name="email" ngModel required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel required />
    </div>
    <br />
    <button id="LoginSubmit" type="submit" class="site-btn">Login</button>
</form>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div>

<!-- <div class="card-body">
  <form id="loginForm" (ngSubmit)="handleFormSubmit(loginForm.value)" #loginForm="ngForm">
      <h2>Create a new account.</h2>
      <hr />
      <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="username" name="email" ngModel required />
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" ngModel required />
      </div>
      <br />
      <button id="LoginSubmit" type="submit" class="site-btn">Login</button>
  </form>
</div> -->