<!DOCTYPE html>
<html lang="zxx">

<body>

	<!-- Header section end -->

	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="../../assets/img/header-bg/1.jpg">
		<div class="container">
			<h2>Characters</h2>
		</div>
	</section>
	<!-- Page top section end -->

	<!-- Character section 1 -->
	<section class="characters-section character-one">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="character-info">
						<img src="../../assets/img/game-characters/title-icon.png" alt="">
						<h2>The Judge</h2>
						<h5>Users: 4.8</h5>
						<h5>MetaCritic: 4.5</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vestibulum malesuada aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo lorem.</p>
						<div class="progress-warp">
							<div class="cp-item">
								<div class="circle-progress" data-cpid="id-1" data-cpvalue="75" data-cpcolor="#10ddb4"></div>
								<h4>Strenghts</h4>
							</div>
							<div class="cp-item">
								<div class="circle-progress" data-cpid="id-2" data-cpvalue="90" data-cpcolor="#10ddb4"></div>
								<h4>Power</h4>
							</div>
							<div class="cp-item">
								<div class="circle-progress" data-cpid="id-3" data-cpvalue="80" data-cpcolor="#10ddb4"></div>
								<h4>Weapons</h4>
							</div>
						</div>
						<a href="#" class="site-btn">Read More</a>
					</div>
				</div>
			</div>
			<div class="character-img">
				<img src="../../assets/img/game-characters/1.png" alt="">
			</div>
		</div>
	</section>
	<!-- Character section 1 end -->

	<!-- Banner section -->
	<section class="banner-section set-bg" data-setbg="../../assets/img/banner-bg.jpg">
		<div class="container">
			<div class="banner-text text-white">
				<div class="banner-logo">
					<h6>Spring Special Offer</h6>
					<img src="../../assets/img/logo-3.png" alt="">
				</div>
				<p>Vestibulum malesuada aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo viverra scelerisque.</p>
				<a href="#" class="site-btn sb-color">Buy it now</a>
			</div>
		</div>
	</section>
	<!-- Banner section end -->

	<!-- Footer section -->
	<div class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-widget">
						<div class="about-widget">
							<img src="../../assets/img/logo.png" alt="">
							<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. Morbi id dictum quam, ut commodo.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-sm-6">
					<div class="footer-widget">
						<h2 class="fw-title">Usfull Links</h2>
						<ul>
							<li><a href="">Home</a></li>
							<li><a href="/all-games">Games</a></li>
							<li><a href="">Reviews</a></li>
							<li><a href="">Latest news</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="#"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="#"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="#"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="#"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="#"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer section end -->
															

	</body>
</html>
