<div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Actor Name</th>
            <th>Character Name</th>
            <th>Gender</th>
            <th>Status</th>
          </tr>
      </thead>
      <tbody>
        
        <tr >
            <td>{{ gameName }}</td>
            <td>{{ picture }}</td>
            <td>{{ description }}</td>
            <td>{{ genres }}</td>
            <td>{{ picture }}</td>
          </tr> 
      </tbody>
    </table>
  </div>