<header>
    <!-- nav -->
    <nav>
        <ul class="main-menu">
            <li> <a href="index.html" class="site-logo"><img src="./assets/img/logo.png" alt="logo"></a></li>
            <li><a href="/" class="nav-item nav-link" routerLink="/">Home</a></li>
            <li><a href="/contact" class="nav-item nav-link" routerLink="/contact">Contact</a></li>
            <div *ngIf="isLoggedIn">
                <li><a href="/all-games" class="nav-item nav-link" routerLink="/all-games">All Games</a></li>
                <li><a href="/game-details" class="nav-item nav-link" routerLink="/game-details">game-details</a></li>
                <li><a href="/dashboard" class="nav-item nav-link" routerLink="/dashboard">Profile</a></li>
                <li><button type="button" class="btn btn-default btn-sm" (click)="authService.SignOut()">Log
                        out</button></li>
            </div>
            <div *ngIf="!isLoggedIn">
                <li><a href="/login" class="nav-item nav-link" routerLink="/login">Login</a></li>
                <li><a href="/register" class="nav-item nav-link" routerLink="/register">Register</a></li>
            </div>
        </ul>
    </nav>
</header>

<!-- main content container -->
<router-outlet></router-outlet>

<!-- Footer section -->
<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-widget">
                    <div class="about-widget">
                        <img src="../../assets/img/logo.png" alt="">
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. Morbi id dictum quam, ut
                            commodo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h2 class="fw-title">Usfull Links</h2>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="/all-games">Games</a></li>
                        <li><a href="">Reviews</a></li>
                        <li><a href="">Latest news</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links">
                <a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="#"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                <a href="#"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="#"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <a href="#"><i class="fa fa-youtube"></i><span>youtube</span></a>
                <a href="#"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
            </div>
        </div>
    </div>
</div>
<!-- Footer section end -->