<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="../../assets/img/header-bg/1.jpg">
	<div class="container">
		<h2>Game Details</h2>
	</div>
</section>
<!-- Page top section end -->

<!-- Game section  -->
<section class="characters-section character-one">
	<div class="container">
		<div class="character-info">
			<img src="{{game.imageUrl}}" alt="">
			<h2>{{game.title}}</h2>
			<!-- <div class="post-date">Added By: {{game._ownerId.username}} </div> -->
			<h5>Description</h5>
			<p>{{game.description}}</p>
			<p>Geners: {{game.genres}}</p>
			<div class="post-date">Rating: {{game.rating}}/10</div>
			<div class="post-date">Price: {{game.price}}</div>
			<div> <a class="details-btn site-btn" routerLink="/game/all-games">All Games</a> </div>
		</div>
	</div>
</section>
<!-- Game section end -->