.rating {
	font-size: 17px;
	color: #ffd200;
	margin-bottom: 30px;
}
.post-date {
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	padding: 3px 16px;
	margin-bottom: 25px;
	background: #10ddb4;
}
img {
    max-width: 1200px;
    max-height: 1000px;
}