<!-- Footer section -->
<div class="footer-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="footer-widget">
                  <div class="about-widget">
                      <img src="../../../assets/img/logo.png" alt="">
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                          aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. Morbi id dictum quam, ut
                          commodo.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-sm-6">
              <div class="footer-widget">
                  <h2 class="fw-title">Usfull Links</h2>
                  <ul>
                    <li><a href="/" routerLink="/">Home</a></li>
                    <li><a href="/contact"  routerLink="/contact">Contact</a></li>
                  <ng-template #loggedOutTemplate>
                      <div class="guest">                               
                          <li><a  routerLink="/auth/login">Login</a></li>
                          <li><a  routerLink="/auth/register">Register</a></li>               
                      </div>
                  </ng-template>
                  
                  <ng-template #loggedInTemplate>          
                      <div class="user">
                          <li><a  routerLink="/game/all-games">All Games</a></li>
                          <li><a  href="/game/new" routerLink="/game/new">Add Game</a></li>
                          <li><a  routerLink="/dashboard">Profile</a></li>
                          <li><a  routerLink="/auth/logout">Log out</a></li>
                      </div>
                    </ng-template>
              
                    <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>
                  </ul>
              </div>
          </div>
      </div>
      <div class="copyright">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                  target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
      </div>
  </div>
  <div class="social-links-warp">
      <div class="container">
          <div class="social-links">
              <a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a>
              <a href="#"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
              <a href="#"><i class="fa fa-facebook"></i><span>facebook</span></a>
              <a href="#"><i class="fa fa-twitter"></i><span>twitter</span></a>
              <a href="#"><i class="fa fa-youtube"></i><span>youtube</span></a>
              <a href="#"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
          </div>
      </div>
  </div>
</div>
<!-- Footer section end -->